<h1> ¡Bienvenido a Bestnid! </h1>
<h3> ¿Qué desea hacer? </h3>
  <h2> <%= link_to "Registrarse", new_usuario_path %> </h2>
  <h2> <%= link_to "Iniciar sesión", new_sesion_path %> </h2>
  <h2> <%= link_to "Ver lista de subastas disponibles", subastas_path %> </h2>
<footer> <%= link_to "¿Quiénes somos?", '/descripcion' %> </footer>
<footer> <%= link_to "Ayuda", '/ayuda' %> </footer>

  